@model GenreViewModel
@{

}
<div>
    <label>Name</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name"></span>
</div>
<div>
    <label>Description</label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description"></span>
</div>



